<div class="bg-light px-4 py-3 text-upppercase font-weight-bold">
    Order Summary
</div>
<div class="p-4">
    <p class="font-italic mb-4">Shipping cost will be added depending on choices made during checkout </p>
    <ul class="list-unstyle mb-4" *ngIf="(basketTotal$ | async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order total</strong>
            <strong>{{(basketTotal$| async).subtotal | currency: 'EUR'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping cost</strong>
            <strong>{{(basketTotal$| async).shipping |  currency: 'EUR'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{(basketTotal$| async).total | currency: 'EUR'}}</strong>
        </li>
    </ul>
</div>
