<div class="mt-4"  [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Choose your delivery method</h4>
    </div>
    <div class="row" formGroupName="deliveryForm">
        <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
            <input type="radio" 
            [defaultValue] = "'0'"
            id={{method.id}} 
            (click)="setShippingPrice(method)"
            value={{method.id}} 
            formControlName="deliveryMethod"
            class="custom-control-input">
            <label for="{{method.id}}" class="custom-control-label">
                <strong>{{method.shortName}} - {{method.price | currency: 'EUR'}}</strong>
                <br>
                <span class="label-description">{{method.description}}</span>
            </label>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" matStepperPrevious>
        <i class="fa fa-angle-left"> Back to address</i>
    </button>
    <button [disabled]="checkoutForm.get('deliveryForm').invalid" class="btn btn-primary" matStepperNext >
        Go to Review <i class="fa fa-angle-right"></i>
    </button>
</div>

