<div class="container"></div>
<div class="row">
    <section class="col-3">

        <h5 class="text-warning  mt-3 ml-3 mb-3">Sort</h5>
        <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
            <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
        </select>

        <ul class="list-group">
            <h5 class="text-warning mt-3 ml-3 mb-3">Brands</h5>
            <li class="list-group-item" *ngFor="let brand of brands"
                [class.active]="brand.id === this.shoptParams.brandId" [value]="brand.id"
                (click)="onBrandSelected(brand.id)">
                {{brand.name}}
            </li>
        </ul>

        <ul class="list-group">
            <h5 class="text-warning  mt-3 ml-3 mb-3">Types</h5>
            <li class="list-group-item" *ngFor="let type of types" [class.active]="type.id === this.shoptParams.typeId"
                [value]="type.id" (click)="onTypeSelected(type.id)">
                {{type.name}}
            </li>
        </ul>

    </section>
    <section class="col-9">
        <div class="d-flex justify-content-between align-item-center pb-2">
            <app-paging-header [pageSize]="this.shoptParams.pageSize" 
            [pageNumber]="this.shoptParams.pageNumber"
            [totalCount]="this.totalCount">
        </app-paging-header>
            <div class="form-inline mt-2">
                <input class="form-controll mr-2" style="width: 300px;" placeholder="Search" type="text">
                <button class="btn btn-outline-primary ml-2 my-2">Search</button>
                <button class="btn btn-outline-success ml-2 my-2">Reset</button>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let product of products">
                <app-product-item [product]="product"></app-product-item>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-">
            <pagination [boundaryLinks]="true" [totalItems]="this.totalCount" (pageChanged)="onPageChanged($event)"
                [itemsPerPage] = "this.shoptParams.pageSize"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </section>
</div>