
        <div
            class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-0 bg-dark">
            
            <div class="d-flex align-items-center justify-content-center">
                <img class="logo" src="/assets/images/shopping.png" style="max-height: 70px" routerLink="/"
                alt="logo">
                <div class="flex-md-row align-items-center">
                    <h1 class="mb-0 mt-0" style="color: darksalmon;">Shop Logo</h1>
                </div>
            </div>
      
            <div class="d-flex align-items-center">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a [routerLink]="['/']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                    <li><a routerLink="/shop" routerLinkActive="active" class="nav-link">Shop</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a></li>
                    <li><a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a></li>
                </ul>
            </div>
           
            <div class="d-flex align-items-center">
                <a class="position-relative" routerLink="/basket">
                    <i class="fa fa-shopping-cart fa-2x mr-5 text-primary"></i>
                    <div class="cart-no" *ngIf="(basket$ | async)">{{(basket$ | async).items.length}}</div>
                </a>

                <ng-container *ngIf="(currentUser$ | async) === null" >
                    <a class="btn btn-outline-light mr-2 " routerLink="/account/login">Login</a>
                    <a class="btn btn-outline-warning ml-auto mr-3" routerLink="/account/register">Sign-up</a>
                </ng-container>          
                <ng-container *ngIf="(currentUser$ | async) !== null" >
                    <div class="dropdown ml-3 mr-5" dropdown >
                        <a class="dropdown-toggle mr-3" style="cursor: pointer;" dropdownToggle >
                            <strong>
                                Hi {{(currentUser$ | async).displayName}}
                            </strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu >

                            <div class="dropdown-item d-flex align-item-center py-2">
                                <i class="fa fa-shopping-cart mr-3 text-primary"  routerLink="/basket"> View Basket</i>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-item d-flex align-item-center py-2">
                                <a class="fa fa-history" routerLink="/orders"> Orders History</a>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-item d-flex align-item-center py-2">
                                <a class="fa fa-user mr-3" routerLink="/account/profile"> Profile</a>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-item d-flex align-item-center py-2">
                                <a class="fa fa-sign-out mr-3" (click)="logout()"> Logout</a>
                            </div>

                        </div>
               
                </div>
                </ng-container>
            </div>
        </div>


