<div class="container">
    <header class="p-3 bg-dark text-white">
        <div
            class="d-flex flex-column flex-md-row flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-1">
            <img class="d-flex justify-content-start" src="/assets/images/shopping.png" style="max-height: 70px"
                alt="logo">
   
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="d-flex align-items-center">
                <a class="position-relative">
                    <i class="fa fa-shopping-cart fa-2x mr-5 text-light"></i>
                    <div class="cart-no">5</div>
                </a>
                <a class="btn btn-outline-light mr-2 ">Login</a>
                <a class="btn btn-warning ml-auto mr-3">Sign-up</a>
            </div>
        </div>
    </header>
</div>

