<ng-container *ngIf="order">
    <div class="row">
        <div class="col-8">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-0" scope="col" >
                                <div class="p-2 px-3 textuppercase" >Product</div>
                            </th>
                            <th  class="border-0"  scope="col">
                                <div class="py-2 textuppercase ">Price</div>
                            </th>
                            <th class="border-0" scope="col">
                                <div class="py-2 textuppercase">Quantity</div>
                            </th>
                            <th  class="border-0"  scope="col">
                                <div class="py-2 textuppercase">Total</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.orderItems">
                            <th>
                                <div class="p-2">
                                    <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid" style="max-height: 50px;">
                                    <div class="ml-3 d-inline-block align-middle">
                                        <h5 class="mb-0">
                                            <a routerLink="/shop/{{item.productId}}" class="text-dark">{{item.productName}}</a>
                                        </h5>
                                        <!-- <span class="text-muted font-weight-normal font-italic d-block">Type: {{item.type}}</span> -->
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle"><strong>{{item.price | currency: 'EUR'}}</strong></td>
                            <td class="align-middle">
                                <div class="d-flex align-items-center justify-content-center" >
                                    <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                                </div>
                            </td>
                            <td class="align-middle"><strong>{{item.price * item.quantity | currency: 'EUR'}}</strong></td>
                            <td class="align-middle text-center">
                                <a class="text-danger">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="col-4">
            <div class="bg-light px-4 py-3 text-upppercase font-weight-bold">
                Order Summary
            </div>
            <div class="p-4">
                <p class="font-italic mb-4">Shipping cost will be added depending on choices made during checkout </p>
                <ul class="list-unstyle mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Order total</strong>
                        <strong>{{order.subtotal | currency: 'EUR'}}</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Shipping cost</strong>
                        <strong>{{order.shippingPrice |  currency: 'EUR'}}</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Total</strong>
                        <strong>{{order.total | currency: 'EUR'}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
</ng-container>
